/* CSS Document */

/* 
Author: Rongrong Liu
File Name: style.css
Date Created: 2024-06-20
Section: CST 8285 section 313
Professor: Daniel Gaudreault
Description: This page defines styles to apply to index.html, resume.html, projects.html, contact.html
*/


/* 
Style the elements for index.html, resume.html, projects.html, contact.html
This style part includes styles for the body, header and navigation
*/
/* Reset margin and padding for the body, set the font and background color */
body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #D9D1D3;
}

/* Style the header section */
header {
    padding: 20px;
    font-size: 15px;
    font-style: oblique;
    word-spacing: normal;
    background: #f2f7f6;
    color: #333333ba;
}

/* Style the navigation inside the header */
header nav {
    display: flex;
    justify-content: center;
}

/* Style the links inside the navigation */
header nav a {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    justify-content: center;
    font-style: normal;
    font-size: 15px;
    background-color: #444444a8;
    transition: background-color 0.3s ease;
    margin: 0 20px; /* Add horizontal margin to increase the space between links */

}

/* Change background color on hover for navigation links */
header nav a:hover {
    background-color: #666666;
}



/*Style elements for index.html */
/* Container styles */
.container01 {
    margin: 10px auto;
    padding: 30px 25px; 
    max-width: 900px; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(54, 80, 100);
    font-size: 16px;
}

/* Centered heading styles for container */
.container01 h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(154, 144, 144);
}

/*Style the emoji with proper size */
.emoji{
    font-size: 30px;
}

/* Italic subheading styles for container */
.container01 h2 {
    font-size: 25px; 
    font-style: italic; 
    color: rgb(154, 144, 144); 
    text-indent: 85px;
}

/* Flexbox container for school section */
.school {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

/* School section heading styles */
.school h3 {
    width: 100%; 
    margin-bottom: -15px;
    color: rgb(154, 144, 144); 
    font-size: 25px; 
    font-style: italic; 
    text-indent: 85px;
}

/* Styling for each school box */
.school .box {
    background-color: #9d939396; 
    border: 1px solid #dfdcdc; 
    border-radius: 5px; 
    padding: 10px;
    max-width: 300px; 
    margin: 50px; 
    color: #fff; 
    text-align: center; 
    height: 300px;
}

/* Image container styles */
.image-container {
    position: relative; /* Relative positioning */
    width: 100%; 
    height: 200px; 
    display: flex; /* Flexbox layout */
    justify-content: center; /* Center-align contents horizontally */
    align-items: center; /* Center-align contents vertically */
}

/* School image styles */
.school-image {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 5px; 
    margin-bottom: 5px; 
}

/* Link button styles */
.link-button {
    position: absolute; /* Absolute positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally */
    padding: 5px 12px; /* Padding */
    background-color: #c9d0e5; 
    color: #000; 
    border: none; /* No border */
    border-radius: 5px; 
    font-size: 12px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    z-index: 1; /* Stack above other elements */
}

/* Hover effect for link button */
.link-button:hover {
    background-color: #87cefa; /* Darker background color on hover */
}

/* Footer styles */
footer {
    text-align: center; 
    padding: 10px; /* Padding */
    background-color: #f2f7f6; 
    color: #333333ba; 
    font-style: oblique; 
    font-size: 15px; 
    margin-top: auto; 
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .container01 {
        padding: 15px; /* Adjust padding for smaller screens */
    }

    .school .box {
        flex: 1 1 100%; /* Full width for school boxes on smaller screens */
    }
}

/* Main section styles to ensure it takes full viewport height */
main {
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Column direction */
    min-height: 100vh; /* Minimum height of viewport */
}

/* Paragraph styles inside footer */
footer p {
    margin: 20px; 
    text-align: center; 
}

/* Image styles */
img {
    max-width: 60%; /* Maximum width */
    width: 500px; 
    height: auto; 
    border-radius: 18px;
}



/*Style elements for resume.html */
/* Container styles */
.container02 {
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(54, 80, 100);
    font-size: 16px;
}

/* Add margin bottom to all elements inside .container02 */
.container02 * {
    margin-bottom: 15px; 
}

/* Centered heading styles for container */
.container02 h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(154, 144, 144);
}

/* Subheading styles for flex-container */
.flex-container h2, .flex-container-vertical h2 {
    font-size: 25px;
    font-style: italic;
    color: rgb(154, 144, 144);
    text-align: center;
}

/* Flexbox layout for general containers */
.flex-container {
    display: flex; /* Enable flexbox */
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: space-between; /* Space items evenly */
}

/* Vertical flexbox layout for specific container */
.flex-container-vertical {
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack items vertically */
    flex-wrap: wrap; /* Allow items to wrap */
}

/* Common style for all boxes */
.flex-container > div, .flex-container-vertical > div {
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 20px; 
    flex: 1 1 150px;
    margin: 20px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Add hover effect for the boxes */
.flex-container > div:hover, .flex-container-vertical > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .flex-container, .flex-container-vertical {
        flex-direction: column; /* Stack items vertically on small screens */
    }
}



/*Style the elements for projects.html */
/* Container styles for projects */
.container03 {
    margin: 20px auto;
    padding: 30px 30px;
    max-width: 1000px; /* Increased width */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(54, 80, 100);
    font-size: 14px; /* Smaller font size */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Layout content in a column */
    height: 100%; /* Take full height of parent */
}

/* Centered heading styles for container */
.container03 h1 {
    text-align: center;
    font-size: 30px; /* Slightly smaller font size */
    color: rgb(154, 144, 144);
}

/* Subheading styles for project content */
.project-content h2 {
    font-style: italic;
    color: rgb(154, 144, 144);
    font-size: 20px;
}

/* Style for the project sections */
#database-cinema, #database-tools, #java, #web {
    background-color: #d6e4f5;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 20px; 
    margin: 20px 0;
    color: #333;
    display: none; /* Hide all projects by default */
    flex-direction: row; /* Align items in a row */
    max-width: 100%; /* Use full width of container */
    font-size: medium;
}

/* Specific background colors for certain project sections */
#database-cinema, #java {
    background-color: #f1f1f1;
}

/* Style for the project content */
.project-content {
    flex-grow: 1;
    margin-right: 20px;
}

/* Style for the project images */
.project-image {
    flex-shrink: 0;
    max-width: 400px; 
    margin: 0 20px; /* Adjust margin to balance space */
}

/* Style for the image slider container */
.image-slider {
    display: flex; /* Flexbox layout for alignment */
    align-items: center; /* Center-align items vertically */
    position: relative; /* Relative positioning for absolute children */
}

/* Styles for arrow buttons */
.arrow-btn {
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    font-size: 24px; /* Font size for the arrow button */
    cursor: pointer; /* Pointer cursor */
}

.arrow-btn i {
    font-size: 36px; /* Adjust the size of the arrow icons */
    color: #cdc9c9;
}


/* Button container styles */
.button-container {
    display: flex; /* Flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically if the container has a fixed height */
    width: 100%; /* Ensure it takes full width of the parent */
    margin-top: 10px; /* Optional: Add margin to the top */
}

/* Button styles */
.button-container button {
    display: flex; /* Flexbox layout for vertical alignment */
    flex-direction: column; /* Arrange content vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    padding: 16px 20px; /* Adjusted padding for button size */
    background-color: #afb4af;
    color: white; 
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    border-radius: 5px; /* Rounded corners */
    margin: 0 20px; /* Add margin between buttons */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    font-size: 14px; /* Font size */
    width: 120px; /* Fixed width for uniform button size */
    height: 80px; /* Adjust height to ensure enough space for symbol and text */
}

button:hover {
    background-color: #e4f0fc; /* Lighter background color on hover */
}

button:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 0 2px #eef1f4; /* Add a border on focus */
}

/* Symbol styles within buttons */
button .symbol {
    font-size: 30px; /* Font size for the symbol */
    margin-bottom: 5px; /* Space between symbol and text */
}

/* Text styles within buttons */
button .text {
    font-size: 14px; /* Font size for the text */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    /* Stack project sections vertically on small screens */
    #database-cinema, #database-tools, #java, #web {
        flex-direction: column;
    }

    /* Adjust margin for project content on small screens */
    .project-content {
        margin-right: 0;
        margin-bottom: 20px; /* Add space between content and image */
    }

    /* Ensure images take full width on small screens */
    .project-image {
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 20px; /* Add space between image and content */
    }
}




